.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.adminButton {
    display: flex;
    justify-content: right;
    margin: 4rem 3rem;
}
.adminButton button,
.submit {
    padding: 1rem 5rem;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
.adminButton button:hover,
.submit:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
.floor {
    display: flex;
    flex-wrap: wrap;
}
.floorItems {
    flex-basis: 45%;
    margin: 2rem 2.5rem;
}
.floorSpots {
    border: 1px solid black;
}
.floorSpots div {
    border: 1px solid black;
    display: inline-flex;
    padding: 2rem;
    margin: 3rem;
    color: white;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.floorNumber {
    padding: 1rem 0;
}
.slotsNumber {
    padding-left: 0.5rem;
}
.parkingForm {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    text-align: center;
    margin: auto;
}
.parkingForm form {
    margin: 2rem 2.5rem;
    background: #ddd;
    padding: 2rem 4rem;
    height: 15rem;
}
.parkingForm label {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}
.parkingForm span {
    margin: 1rem 0;
    margin-right: 10px;
    width: 8rem;
    display: inline-block;
}

.parkingForm label input {
    width: 17rem;
    height: 2rem;
    padding: 0.3rem;
}
.parkingForm label select {
    width: 18rem;
    height: 3rem;
    padding: 0.1rem;
}
.submit {
    padding: 1rem 4rem;
}
.submit input {
    background: transparent;
    border: none;
    color: black;
}
.submit input:hover,
.submit:hover input {
    color: white;
    cursor: pointer;
}
.error {
    color: red;
    font-weight: bold;
}
.parkingTicket {
    background: #ddd;
    text-align: left;
    padding: 3rem 2rem;
    text-align: center;
    border: 1px solid black;
}
.floorTable {
    width: 36%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.floorTable ul {
    border: 1px solid black;
    list-style: none;
    padding: 0;
    width: 40rem;
}
.floorTable li {
    border-bottom: 1px solid black;
    padding: 1rem 0;
}
.floorTable li span {
    display: inline-flex;
}
.floorTable li span:first-child {
    width: 10rem;
}
.floorTable li span:last-child {
    width: 26rem;
}
